.tools__content {
  max-width: 1023px;
  margin: 0 auto;
  padding-top: 165px;
  margin-bottom: 162px;
  text-align: center;
}

.tools__heading {
  max-width: 800px;
  margin: 0 auto;
  line-height: 75px;
}

.tools__text {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
}

.tools__img {
  max-width: 1000px;
  margin-bottom: 32px;
}
